@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    background-color: #FFFEFE;
    font-family: 'Open Sans', sans-serif;
}

span {
    font-size: 36px;
    font-weight: 700;
    line-height: 49.03px;
    color: #333333;
}

.input_fields {
    color: #F5F5F5
}
.agre {
    color:#EEEEEE ;
}
