body {
    background-color: #FFFEFE;
}

span {
    font-size: 36px;
    font-weight: 700;
    line-height: 49.03px;
    color: #333333;
    font-family: 'Open Sans';
    src: url("../2-Form/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf Sans/OpenSans-VariableFont_wdth,wght.ttf");
}

div {
    color: #EEEEEE;
}

body {
    background-color: #FFFEFE;
}