@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap');
body {
    background-color: #FFFEFE;
}

span {
    font-size: 36px;
    font-weight: 700;
    line-height: 49.03px;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
}

div {
    color: #EEEEEE;
}

body {
    background-color: #FFFEFE;
}